.module_full_search{
    position: relative;
    width: 100%;
    height: auto;

    .map {
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        @include respond-to(tabletportrait){
            display: none !important;
        }
        @include respond-to(mobile){
            display: none !important;;
        }
    }

    .search {
        float: right;
        padding: 0px;
        @include respond-to(tabletportrait){
            width: 100% !important;
        }
        @include respond-to(mobile){
            width: 100% !important;
        }

        .items{
            .card .card-action i {
                cursor: pointer;
            }
            .card-content{
                .tabs .indicator {
                    background-color: #64B5F6;
                }
                .tab_content{
                    height: 170px;
                    overflow: hidden;
                    .chip {
                        margin: 5px 2px;
                    }
                    .badge {
                        position: static;
                        margin-left: 9px;
                        &:after{
                            display: none;
                        }
                    }
                }
            }
        }

    }

    .search_form_full_f_form {
        border-bottom: 2px solid #F0F0F0;
        padding: 17px 17px;

        .caret {
            display: none;
        }

        .select-dropdown {

            border: none;
            box-sizing: border-box;

            &:not(.active) {
                border: 1px solid #9e9e9e;
                border-radius: 3px;
                box-sizing: border-box;
                padding: 7px;
            }

        }

        .card-content {
            height: 250px;
            padding: 8px;
            word-break: normal;

            .tab_content {
                word-break: normal;
                height: 170px;
                overflow: hidden;
                color: #464646;
            }

        }

    }

}