.module_testimonials {
    width: 100%;
    box-sizing: border-box;
    margin: 15px auto;
    width: 100%;
    padding: 0px 15px;

    textarea{
        margin-top: 7px;
        max-height: 20px;
    }

    .row{
        >.contact_form {
            height: 400px;
            padding: 15px;
            box-sizing: border-box;
            border-right: 1px solid #f1f1f1;
        }
        > .about {
            height: 400px;

            table {
                width: 100%;
                height: 100%;
                max-width: 800px;
                margin: auto;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
                vertical-align: middle;
                text-align: center;

                td{
                    h3 {
                        width: 100%;
                        font-size: 22px;
                        font-weight: 500;
                        color: #434343;
                        text-align: center;
                        padding: 10px;
                    }

                    p {
                        padding: 10px;
                        margin-top: 10px;
                        font-size: 14px;
                        line-height: 25px;
                    }

                }

                img {
                    width: calc(33% - 3px);
                    height: auto;
                    -webkit-box-sizing: border-box;
                    -moz-box-sizing: border-box;
                    box-sizing: border-box;
                    padding: 1px;
                }
            }


        }


    }

}