@mixin vendorize($property, $value) {
	-webkit-#{$property}: $value;
	-moz-#{$property}: $value;
	-ms-#{$property}: $value;
	-o-#{$property}: $value;
	#{$property}: $value;
}


// TRANSITION
@mixin transition($transition: all .1s linear) {
	-webkit-transition: $transition;
	-moz-transition: $transition;
	-ms-transition: $transition;
	-o-transition: $transition;
	transition: $transition;
}

// TRANSITION MULTIPLE
@mixin transitions($args...) {
	-webkit-transition: $args;
	-moz-transition: $args;
	-ms-transition: $args;
	-o-transition: $args;
	transition: $args;
}

// BG RETINA
@mixin background-image-retina($file, $type, $width, $height) {
	background-image: url($file + '.' + $type);
	@media only screen and (-webkit-min-device-pixel-ratio: 2),
		only screen and (-moz-min-device-pixel-ratio: 2),
		only screen and (-o-min-device-pixel-ratio: 2/1),
		only screen and (min-device-pixel-ratio: 2),
		only screen and (min-resolution: 192dpi),
		only screen and (min-resolution: 2dppx) {
		& {
			background-image: url($file + '@2x.' + $type);
			-webkit-background-size: $width $height;
			-moz-background-size: $width $height;
			-o-background-size: $width $height;
			background-size: $width $height;
		}
	}
}

// RESPONSIVENESS
@mixin respond-to($media) {
	@if $media == mobile {
		@media only screen and (max-width: 768px - 1) { @content; }
	}
	@else if $media == tabletportrait {
		@media only screen and (min-width: 768px - 1) and (max-width: 1024px - 1) { @content; }
	}
	@else if $media == tabletlandscape {
		@media only screen and (min-width: 1024px - 1) and (max-width: 1280px - 1) { @content; }
	}
	@else if $media == nondesktop {
		@media only screen and (max-width: 1280px - 1) { @content; }
	}
	@else if $media == desktop {
		@media only screen and (min-width: 1280px) { @content; }
	}
}