@import "mixins";
@import "variables";
@import "fonts";
@import "materialize";
@import "nouislider";
html,body{
  max-width: 3000px;
  margin: 0;
  padding: 0;
}

body img {
  pointer-events: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none; user-select: none;
}


.header_block{
  width: 100%;
  height: 105px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0 2px 10px -3px rgba(0,0,0,0.75);
  -moz-box-shadow: 0 2px 10px -3px rgba(0,0,0,0.75);
  box-shadow: 0 2px 10px -3px rgba(0,0,0,0.75);
  z-index: 99999;
  position: fixed;
  transition: height .6s;

  .small_header {
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    background-color: #F0F0F0;
    transition: height .6s;
    overflow: hidden;
  }
}
.modals_block{

}
.fixed-header_block{
  transition: height .6s;
  height: 105px;
}
.slider_block{
  height: 700px;
}
.main_block{

}
.footer_block{

}
.range-label {
  display: none !important;
}
.right_sidebar{
  border-left: 1px solid #f1f1f1;
  padding: 0px 10px;
}
.left_page_content{
  @include respond-to(mobile){
    width: 100% !important;
  }
}
.page-container-main{
  @include respond-to(desktop){
    width: 95% !important;
  }
}

iframe {
  max-width: 100% !important;
}

@media print {
  .header_block{
    display: none;
  }
}

.card{
  .dropdown-content{
    right: 10px !important;
    top: 20px !important;
    left: initial !important;
    width: 320px !important;
    overflow: hidden;
    .module_share {
      width: 320px;
      height: 45px;
      overflow: hidden;
      box-sizing: border-box;
    }
  }
}


