.module_follow{
    width: 100%;
    box-sizing: border-box;
    margin: 5px 0;

    .parallax-container{
        @include respond-to(mobile){
            display: none;
        }
        @include respond-to(tabletlandscape) {
            display: none;
        }

        @include respond-to(tabletportrait) {
            display: none;
        }
    }
    .section{
        @include respond-to(tabletlandscape) {
            border-top: 1px solid #f5f5f5;
            border-bottom: 1px solid #f5f5f5;
        }

        @include respond-to(tabletportrait) {
            border-top: 1px solid #f5f5f5;
            border-bottom: 1px solid #f5f5f5;
        }

        @include respond-to(mobile) {
            border-top: 1px solid #f5f5f5;
            border-bottom: 1px solid #f5f5f5;
        }
    }

}
.module_follow_form{
    width: 100%;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding:15px 5px;
}
.module_follow .title{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding:5px;
    line-height: 35px;
    text-align: center;
    font-size: 35px;
    color: #434343;
}
.module_follow .text{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 15px 5px;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    color: #434343;
}
.module_follow .follow_form{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: 15px;
    margin-bottom: 15px;
}
.module_follow .follow-submit{
    width: 100%;
    text-align: center;
    border-radius: 5px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.module_follow .follow_form .input_email{
    width: 100%;
    height: 50px;
    background-color: #ffffff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 5px;
    border-radius: 5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border: 1px solid #f5f5f5;
    margin-bottom: 5px;
}
.module_follow .follow_form .row{
    margin-bottom: 0;
}
.error{
    border-color: #b0040e !important;
}
