.module_banner{
    width: 100%;
    height: auto;
    padding: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 5px 0px;
    background-image: url('/content/themes/titus/assets/images/pattern-ads.jpg');
    background-repeat:repeat;
}
.module_banner img {
    display: block;
    margin: auto;
    max-width: 100%;
    max-height: 150px;
}