.module_contact_us_form {
    width: 100%;
    box-sizing: border-box;
    margin: 15px auto;
    width: 100%;
    padding: 0px 15px;

    textarea{
        margin-top: 7px;
        max-height: 20px;
    }

    .row{
        >.contact_form {
            height: 400px;
            padding: 15px;
            box-sizing: border-box;
            h5{
                font-family: Roboto, sans-serif;
                font-style: italic;
                color: #444B55;
            }
        }
    }

}