.module_share{
    width: 250px;
    height: 100%;
    box-sizing: border-box;
    color: #99A3B1;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    a{
        color: #99A3B1 !important;
        text-decoration: none;
    }
    i {
        transition: color .6s;
        cursor: pointer;
        padding: 2px;
    }
    .fa-facebook:hover {
        color: #3A5795;
    }
    .fa-twitter:hover {
        color: #41ABE1;
    }
    .fa-google-plus:hover {
        color: #EA4335;
    }
    .fa-instagram:hover {
        color: #125688;
    }
    .fa-pinterest:hover {
        color: #BD2126;
    }
    .fa-envelope:hover {
        color: #2D1152;
    }
    .fa-print:hover {
        color: #41ABE1;
    }
}
