.module_similar
{
  width: 100%;
  box-sizing: border-box;
  margin: 5px 0px;

  .tabs{
    width: 97% !important;
    overflow: hidden
  }

}

.module_similar .title{
  padding-left: 15px;
  color:#464646;
}

.module_similar .container {
  width: 95%;
  box-sizing: border-box;
  margin: 25px auto;
  max-width: 1140px;
}

.module_similar  .card-content{
  height: 250px;
  padding: 8px;
  word-break: normal;
}

.module_similar .card-content .tab_content{
  word-break: normal;
  height: 170px;
  overflow: hidden;
  color: #464646;
}
.module_similar .card .card-action i{
  cursor: pointer;
}



.module_similar .card-content .tabs .indicator{
  background-color: #64B5F6;
}

.module_similar .card-content .tab_content .chip{
  margin: 5px 2px;
}

.module_similar .card-content .tab_content .badge{
  position: static;
  margin-left: 9px;
  &.new{
    background-color: #64B5F6;
  }
}
.module_similar .card-content .tab_content .badge:after{
  display: none;
}

.module_similar .card-content .tab_content .map{
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
  background-size: 145%;
  background-position: center;
  background-repeat: no-repeat;
}
