.module_contact_us_map{
    width: 100%;
    height: auto;

    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    .map{
        height: 100%;
        max-height: 700px;
        padding-bottom: 50%; /* RATIO 2.29:1 */

        @include respond-to(tabletlandscape) {
            padding-bottom: 50%; /* RATIO 2:1 */
        }

        @include respond-to(tabletportrait) {
            padding-bottom: 75%; /* RATIO 2:1 */
        }

        @include respond-to(mobile) {
            padding-bottom: 100%; /* RATIO 1:1 */
        }
        &:after{
            content: attr(data-address);
            color: white;
            font-family: "Roboto", sans-serif;
            font-size: 16px;
            position: absolute;
            z-index: 997;
            top: 10px;
            left: 15px;
            font-weight: bold;
            text-shadow: 1px 0px 11px rgba(0, 0, 0, 1);
        }
    }
}