.module_comments{
    width: 100%;
    box-sizing: border-box;
    margin: 5px 0px;
    background-color: #F7F7F7;
    padding: 15px 0px;
}


.module_comments h5{
    color: #464646;
    padding: 15px 0px;
}

.module_comments .testimonial-container{
    float:left;
    width:100%;
    display:inline;
    margin-bottom: 26px!important;
}

.module_comments .testimonial-image{
    width: 120px;
    height: 120px;
    border-radius: 4px;
    display: inline-block;
    background-image: url("/content/themes/titus/assets/images/user.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    float:left;
    @include respond-to(mobile) {
        display: none !important;
    }
}

.module_comments .testimonial-text{
    position: relative;
    border: 1px solid #f0f0f0;
    -webkit-box-shadow: 0px 2px 0px 0px rgba(227, 228, 231, 1);
    box-shadow: 0px 2px 0px 0px rgba(227, 228, 231, 1);
    border-radius: 4px;
    color: #768082;
    padding: 13px;
    margin-left: 136px;
    background-color: #fdfdfd;
    word-break: break-all;
    @include respond-to(mobile) {
        margin-left: 0px;
    }
}



.module_comments .testimonial-text:before{
    content: " ";
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid #f0f0f0;
    top: 20px;
    left: -11px;
    position: absolute;
}

.module_comments .testimonial-text:after{
    content: " ";
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid #fdfdfd;
    top: 20px;
    left: -10px;
    position: absolute;
}

.module_comments .testimonial-author-line{
    font-size: 14px;
    margin-left: 136px;
    margin-top: 11px;
}

.module_comments .testimonial-author{
    font-weight: bold;
    font-size: 14px;
}
