.module_search {
    height: 180px;
    box-sizing: border-box;
    margin-top: -210px;
    position: relative;
    z-index: 997;

    @include respond-to(mobile) {
        height: auto !important;
        margin-top: 5px !important;
        margin-bottom: 5px !important;
    }

    .input-field {
        height: 3rem;
    }

    .top {
        width: auto;
        height: 40px;
        box-sizing: border-box;
        border-top-right-radius: 3px;
        border-top-left-radius: 3px;
        text-align: center;
        line-height: 40px;
        width: 250px;
        color: white;
        @include respond-to(mobile) {
            width: 100% !important;
            border-radius: 0 !important;
        }
    }

    .search_form {
        width: 100%;
        height: 160px;
        background-color: white;
        border-radius: 3px;
        border-top-left-radius: 0px;
        @include respond-to(mobile) {
            height: auto !important;
        }
        .select_form {
            box-sizing: border-box;
            height: 160px;
            border-bottom-left-radius: 3px;
            @include respond-to(mobile) {
                height: auto !important;
                border-radius: 0 !important;
            }
        }
        .submit_form {
            box-sizing: border-box;
            background-color: #F0F0F0;
            transition: background-color .6s;
            color: #59A0DA;
            text-align: center;
            line-height: 160px;
            font-size: 250%;
            font-weight: 500;
            cursor: pointer;
            height: 160px;
            border-top-right-radius: 3px;
            border-bottom-right-radius: 3px;
            @include respond-to(mobile) {
                height: 50px !important;
                line-height: 50px !important;
                border-radius: 3px !important;
            }
            &:hover {
                background-color: #59A0DA;
                color: white;
            }
        }

    }

    .select-wrapper .select-dropdown:not(.active) {
        border: 1px solid #9e9e9e;
        border-radius: 3px;
        box-sizing: border-box;
        padding: 7px;
    }

    .caret {
        display: none;
    }
}
