.module_footer{
    width: 100%;
    height: auto;
    float: left;
    box-sizing: border-box;
    .page-footer {
        background-image: url("#{$theme_url}/assets/images/footer.jpg");
        background-position: center;
        background-size: cover;
    }
    .sub_footer {
        background-color: #323840 !important;
    }
    footer .footer-copyright {
        height: 65px;
        line-height: 65px;
        background-color: rgba(255, 255, 255, 0.3) !important;
    }
    .footer_map{
        height: 200px;
        &:after{
            content: attr(data-address);
            color: white;
            font-family: "Roboto", sans-serif;
            font-size: 16px;
            position: absolute;
            z-index: 997;
            top: 10px;
            font-weight: bold;
            text-shadow: 1px 0px 11px rgba(0, 0, 0, 1);
        }
    }
}