.module_articlecontent{
  width: 100%;
  height: auto;

  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  >h3, h5{
    color: #444B55;
    font-family: GillSans, Calibri, Trebuchet, sans-serif;
  }

  >.info{
    color: #99A3B1;
    h5{
      color: #444B55;
      font-family: GillSans, Calibri, Trebuchet, sans-serif;
    }
  }

  .content-area{
    color: #444B55;
    font-family: "Roboto", sans-serif;
    padding: 20px;
  }

  .chip{
    margin: 5px 2px;
  }

  .badge{
    position: static;
    margin-left: 9px;
    &.new{
      background-color: #64B5F6;
    }
    &:after{
      display: none;
    }
  }
  .article_map{
    padding-bottom: 46.25% !important; /* RATIO 2.29:1 */
    @include respond-to(tabletlandscape) {
      padding-bottom: 50% !important; /* RATIO 2:1 */
    }

    @include respond-to(tabletportrait) {
      padding-bottom: 75% !important; /* RATIO 2:1 */
    }

    @include respond-to(mobile) {
      padding-bottom: 100% !important; /* RATIO 1:1 */
    }
    &:after{
      content: attr(data-address);
      color: white;
      font-family: "Roboto", sans-serif;
      font-size: 16px;
      position: absolute;
      z-index: 997;
      top: 10px;
      font-weight: bold;
      text-shadow: 1px 0px 11px rgba(0, 0, 0, 1);
      padding-left: 15px;
    }
  }


  .info{
    padding-left: 15px;
    margin: 35px 0 25px 0;
    .title {
      font-size: 14px;
    }
  }

  .features{
    color: #434a54;
    a{
      text-decoration: none;
      color: #434a54;
    }
    .title_panel{
      background-color: #f0f0f0;
      background-image: none;
      height: 40px;
      color: #434a54;
      padding: 6px 0 9px 0;
      border-radius: 4px;
      h4{
        margin: 3px !important;
        color: #434a54;
        font-size: 15px;
        padding: 4px 0 0 15px;
      }
    }
    .content_f{
      margin: 15px 0px;
      padding: 0px 15px;
      >div{
        padding: 10px 0px;
      }
    }

  }

}