.module_slide{
    width: 100%;
    max-height: 700px;
    padding-bottom: 50%; /* RATIO 2.29:1 */

    @include respond-to(tabletlandscape) {
        padding-bottom: 50%; /* RATIO 2:1 */
    }

    @include respond-to(tabletportrait) {
        padding-bottom: 75%; /* RATIO 2:1 */
    }

    @include respond-to(mobile) {
        padding-bottom: 0px !important; /* RATIO 1:1 */
        height: 233px;
    }

    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;


    .slider .slides li .caption{
        width: 60%;
        max-width: 600px;
        right: 50px;
        left: initial;
        height: 233px;
        @include respond-to(mobile){
            max-width: 100% !important;
        }
    }

}
.module_slide .slider .slides{
    background-color: transparent;
}
.module_slide .slide-button{
    width: 70px;
    height: 70px;
    position: absolute;
    font-size: 60px;
    border-radius: 50%;
    top: 50%;
    margin-top: -35px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 999;
    opacity: 0.6;
    color: #ffffff;
    line-height: 70px;
    text-align: center;
}
.module_slide .slide-prev{
    float: left;
    left: 30px;
}
.module_slide .slide-next{
    float: right;
    right: 30px;
}
.module_slide .slide-button:hover{
    color: rgba(0,0,0,0.9);
    cursor: pointer;
}

.module_slide .indicators .indicator-item.active {
    background-color: #64B5F6;
}

.slider-card {
    position: absolute;
    background-color: #fdfdfd;
    opacity: .99;
    color: #768082;
    font-size: 14px;
    text-align: left;
    right: 4%;
    padding: 21px 76px 26px 26px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    line-height: 22px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    bottom: 10%;

    @include respond-to(mobile) {
        bottom:0 !important;
        top:0 !important;
        left:0 !important;
        right:0 !important;
        max-height: 233px !important;
        width: 100% !important;
        border-top-left-radius: 0px !important;
        border-bottom-left-radius: 0px !important;
    }


    .slider-content {
        width: 100%;
        height: 100%;

        h3 {
            font-size: 24px;
            line-height: 1.3em;
            color: #434a54;
            font-family: 'Open Sans',sans-serif;
            border: 0;
            margin-bottom: 13px;
            outline: 0;
            padding: 0;
            vertical-align: baseline;
            text-align: left;
            >a{
                font-size: 24px;
                line-height: 1.3em;
                color: #434a54;
                font-family: 'Open Sans',sans-serif;
                border: 0;
                margin-bottom: 13px;
                outline: 0;
                padding: 0;
                vertical-align: baseline;
            }


        }

        .slider-card-read-more{
            float: right;
        }

        .slider-card-content {
            color: #434a54;
            font-size: 12px;
            text-align: left;
        }

        .theme-slider-price {
            position: absolute;
            bottom: 0;
            left: 26px;
            right: 26px;
            width: 80%;
            border-top: 1px solid #f0f0f0;
            height: 50px;
            font-size: 18px;
            padding-top: 12px;
            color: #3c90be;
        }


        .carousel-control-theme-prev {
            &:hover{
                background-color: #35779A;
            }
            .fa {
                font-size: 50px;
                margin: 0 auto;
                padding: 50px 15px;
            }
            float: none !important;
            left: initial !important;
            position: absolute;
            top: 116px;
            right: -4px;
            height: 117px;
            width: 50px;
            background-color: #3c90be;
            opacity: .99;
            color: #fff;
            border-bottom-right-radius: 4px;
            pointer-events: auto;
        }

        .carousel-control-theme-next {
            &:hover{
                background-color: #35779A;
            }
            .fa {
                font-size: 50px;
                margin: 0 auto;
                padding: 50px 15px;
            }
            float: none !important;
            left: initial !important;
            position: absolute;
            top: 0;
            right: -4px;
            height: 116px;
            width: 50px;
            background-color: #3c90be;
            opacity: .99;
            color: #fff;
            border-top-right-radius: 4px;
            pointer-events: auto;
        }




    }
}

