.module_contact_us_page{
    width: 100%;
    height: auto;

    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    >h3, h5{
        color: #444B55;
        font-family: GillSans, Calibri, Trebuchet, sans-serif;
    }

    >.info{
        color: #99A3B1;
        h5{
            color: #444B55;
            font-family: GillSans, Calibri, Trebuchet, sans-serif;
        }
    }

    .left_image{
        padding: 20px;
        box-sizing: border-box;
        img{
            width: 100%;
            height: auto;
        }
    }

    .content-area{
        color: #444B55;
        font-family: "Roboto", sans-serif;
        padding: 20px;
    }

}